  .ticket-filter-component {
    padding: 10px;
    font-family: Arial, sans-serif;
  }
  
  .filters {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .filter-input, .filter-select, .date-filter input {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
  }
  
  .date-filter {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .icon {
    color: #555;
  }
  
  .filter-button, .export-button, .new-button {
    padding: 8px 12px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
  }
  
  .export-button {
    background-color: #28a745;
  }

  .new-button {
    background-color: #1d70be;
    color:#f8f9fa;
  }
  
  .tickets-table {
    width: 95%;
    border-collapse: collapse;
  }
  
  .tickets-table th, .tickets-table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
  }
  
  .tickets-table th {
    background-color: #f8f9fa;
    font-weight: bold;
  }
  
  .status-badge {
    padding: 4px 8px;
    border-radius: 12px;
    color: #fff;
    font-size: 12px;
  }
  
  .status-badge.creado {
    background-color: #6c757d;
  }
  
  .status-badge.enproceso {
    background-color: #fff12f;
  }
  
  .status-badge.asignado {
    background-color: #757575;
  }
  
  .status-badge.pendiente {
    background-color: #757575;
  }

  .status-badge.finalizado {
    background-color: #11c02e;
  }

  .status-badge.cancelado {
    background-color: #c71010;
  }
  